[user]
    name = dfavato
    email = dfavato@gmail.com

[core]
    editor = nvim

[color]
    branch = auto
    diff = auto
    status = auto
    interactive = auto

[alias]
    st = "status -sb"
    lg =     "!git log -20 --graph --color=always --abbrev-commit --date=relative --pretty=format:'%x00%h%x00%s%x00%cd%x00%an%x00%d' | gawk -F '\\0' '{ printf \"%s\\033[31m%s\\033[0m %-50s \\033[32m%14s\\033[0m \\033[37;1m%s\\033[0m\\033[33m%s\\n\", $1, $2, gensub(/(.{49}).{2,}/, \"\\\\1…\",\"g\",$3), $4, $5, $6 }' | cat"
    lglong = "!git log -50 --graph --color=always --abbrev-commit --date=relative --pretty=format:'%x00%h%x00%s%x00%cd%x00%an%x00%d' | gawk -F '\\0' '{ printf \"%s\\033[31m%s\\033[0m %-50s \\033[32m%14s\\033[0m \\033[37;1m%s\\033[0m\\033[33m%s\\n\", $1, $2, gensub(/(.{49}).{2,}/, \"\\\\1…\",\"g\",$3), $4, $5, $6 }' | cat"
    wip = ! git add -A && git commit -m "wip"
    lgdiff = "!f() { git log --left-right --graph --cherry-pick --oneline $1; }; f"

[push]
    default = current
    useForceIfIncludes = true

[fetch]
    prune = true
